.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;

  background-image: url("../images/motorsav.jpg");
}

.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-shadow: 2px 2px #000;
  min-height: 500px;
}

h2.call {
  font-size: 30pt;
}
